<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- child level logging for application -->
    <logger name="edu.wctc.mvn.spring.data.jpa.demo1" level="INFO" />

    <!-- root level logging (children can override) -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>